@charset "UTF-8";
#password_revise{
	font-size:30px;
	font-weight:bold;
}

#password_button{
    position: relative;
    border: none;
    top: 30px;
    left: 40px;
    background-color: #3A9BFC;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    font-size: 18px;
    color:white;
}