
#hot {                                         /*妯″潡浣嶇疆*/
    position: relative;
    top: 150px;
}
#hot div{                                      /*棰樼洰鏍峰紡*/
    position: relative;
    top: 10px;
    width: auto;
    height: auto;
    font-size: 120%;
    font-family: 寰蒋闆呴粦;
}
#hot div ul li{                                 /*鍥剧墖鏍峰紡*/
    display: inline;
    margin: 10px 0%;
    width:100px;
}
#hot div img{
    width: 25%;
    height: 200px;
    margin-top: 20px;
}

#hot a{
    font-family: 寰蒋闆呴粦;
    text-decoration: none;
    position:relative;
    right:250px;
    top:100px;
}

#hot a:link a:visited{
    color: black;
}
#hot a:hover{
    color: #42b3fb;
}
/*鍒嗙被鏍�*/                                                 /*鍒嗙被鏍�*/
#zhuhaivariety{
    position: relative;
    top: 95px;
    left: 50px;
    /*background-color:#fff;*/
}
#zhuhaivarietyhead{
    font-family: 寰蒋闆呴粦;
    font-size: 25px;
    font-weight: bold;
    padding: 0px 30px;
}
#zhuhaivariety ul{
    font-weight: bold;
    position: relative;
    top: 25px;
}

#zhuhaivarietya{
    padding: 0px 25px;
    position: relative;
    top: -20px;
}
#zhuhaivariety ul li{
    list-style: none;
    font-size: 20px;
    float: left;
    padding: 0px 30px;
}
#zhuhaivariety ul li img{

}
/*鍒嗙被鏍�*/

/*褰撳湴缇庨*/                                               /*褰撳湴缇庨*/
#deliciousfood{
    position: relative;
    top: 150px;
}

#deliciousfood div{                                      /*棰樼洰鏍峰紡*/
    position: relative;
    top: 10px;
    width: auto;
    height: auto;
    font-size: 120%;
    font-family: 寰蒋闆呴粦;
}

#deliciousfood div ul li{                                 /*鍥剧墖鏍峰紡*/
    display: inline;
    margin: 10px 1%;
}
#deliciousfood div img{
    width: 30%;
    height: 200px;
    margin-top: 20px;
}
#deliciousfood a{
    font-family: 寰蒋闆呴粦;
    text-decoration: none;
    float: right;
}
#deliciousfood a:link a:visited{
    color: black;
}
#deliciousfood a:hover{
    color: #42b3fb;
}
/*褰撳湴缇庨*/

/*鏃呮父浜у搧*/
#product{
    position: relative;
    top: -21px;
    left: 200px;
    font-size: 15px;
}

/*鏃呮父浜у搧*/
#zhuhaiFooter{                                           /* 缃戦〉鑴氭敞*/
    background-color: #c3dfe8;
    position:relative;
    top:400px;
    left:0px;
    width:100%;
    height:30px;
    margin:0px;
    padding:0px;
    text-align:center;
    font-family:寰蒋闆呴粦;
    font-size:10px;
}

/*鎹竴鎵�*/                                                   /*鎹竴鎵�*/
#more{
    position:relative;
    float:left;    
}
/*鎹竴鎵�*/

#whitebox{
	width:200px;
	height:30px;
	top:190px;
	left:50px;
	background-color:black;
	position:absolute;
}






#like {                                      /*模块位置*/
    position: relative;
    top: 150px;

}

#like a{
    font-family: 微软雅黑;
    text-decoration: none;
}

#like a:link {
    color: black;
}
#like a:visited{
    color: black;
}
#like a:hover{
    color: #42b3fb;
}


#like p{                                  /*题目样式*/
    font-size: 120%;
    font-family: 微软雅黑;
}

#like img{
    width: 400px;
    height: 200px;
}

.suibian{
    background-color: white;
    opacity: 0.6;
    width: 100%;
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    font-family:微软雅黑;
    
}